*.o
*.lo
*.*.swp
*.so
.gdbinit
tags
make.depend
pinocchio
cppcomplete.tags

pharo/PharoDebug.log
pharo/PharoV10.sources
pharo/package-cache/*
pharo/pharo.changes
pharo/pharo.image


# XCODE noise
*.pbxuser
*.mode1v3

#OSX noise
.DS_Store

